$darkcyan: #008b8b;
$white: #fff;
$orange: #ffa500;
$gray95: #f2f2f2;
$gray20: #333;

$primary: $darkcyan;
$primary-dark: scale-color($primary, $lightness: -30%);
$primary-light: scale-color($primary, $lightness: 10%);
$primary-text: $white;

$accent: $orange;

$neutral-dark: $gray20;
$neutral-light: $gray95;
