@import './_variables';

.footer {
  background-color: $primary;
  height: 70px;
  color: $primary-text;
  padding: 20px;
  box-sizing: border-box;
}

.navigation ul {
  display: flex;
}

.navigation-item {
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  color: $primary-text;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: 1px dashed $primary-text;

  &:hover {
    border-bottom-color: $primary-dark;
  }
}
