@import './_variables';
@import './header';
@import './chat';
@import './form';
@import './footer';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $neutral-dark;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
}

.content {
  padding: 30px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: $primary;
  display: inline-block;
  padding: 5px;

  &:hover {
    color: $primary-dark;
  }
}

.error-msg {
  color: red;
  font-size: 12px;
  display: none;
}
