* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  float: right;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
}

.content {
  padding: 30px;
  box-sizing: border-box;
}

.navigation-items,
.form-fields {
  list-style: none;
}

.form {
  width: 370px;
  background-color: #f2f2f2;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-field,
.button {
  padding: 5px;
}

.form-field {
  display: flex;
}
.form-field .input {
  padding: 5px;
  flex: 1;
}
.form-field .label {
  display: inline-block;
  width: 30%;
}

.button-wrapper {
  text-align: center;
}

.button {
  margin: 15px 0 0;
  background-color: darkcyan;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 7px 12px;
}

.button:hover {
  background-color: #003d3d;
}

.link {
  text-decoration: none;
  color: darkcyan;
  display: inline-block;
  padding: 5px;
}

.link:hover {
  color: #003d3d;
}

.chats {
  box-sizing: border-box;
  list-style: none;
  width: 200px;
}

.chat-title {
  border: 1px solid #00b2b2;
  box-sizing: border-box;
  margin-bottom: 2px;
  display: flex;
  border-radius: 5px;
}

.chat-title:last-child {
  margin-bottom: 0;
}

.title-username {
  flex: 1;
}

.title-username a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.title-username a:hover {
  color: #fff;
  background-color: #00b2b2;
}

.title-status {
  background-color: orange;
  padding: 15px 0;
  width: 15px;
}

.header,
.footer {
  background-color: darkcyan;
  height: 70px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.navigation ul {
  display: flex;
}

.navigation-item {
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: 1px dashed #fff;
}

.navigation-item:hover {
  border-bottom-color: #003d3d ;
}

.chats-wrapper {
  display: flex;
}

.active-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0;
}

.messages {
  list-style: none;
}

.editor {
  display: flex;
}

.editor-message {
  resize: none;
  flex: 1;
  padding: 5px;
}

.message {
  background: aliceblue;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}