<footer class="footer">
{{#and site.links}}
  <nav class="navigation">
    {{#each site.links}}
      {{#and url text}}
        <a class="navigation-item" href="{{this.url}}">{{this.text}}</a>
      {{/and}}
    {{/each}}
  </nav>
{{/and}}
</footer>