<footer class="footer">
  <nav class="navigation">
    <ul class="navigation-items">
      {{#each links}}
        <li><a class="navigation navigation-item" href="{{ url }}">{{ text }}</a></li>
      {{/each}}
    </ul>
  </nav>
</footer>
