---
bodyClass: error
language: ru
meta:
  author: Alyona Eley
  description: Training project
  keywords: messenger, chat
scripts:
  - ../modules/404.js
stylesheets:
  - ../styles/404.css
title: 404. Страница не существует | Zoo-Chat
pageHeader: Страница не существует
linkText: На главную
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div>
        <p>
          <a href="./chats.hbs">{{linkText}}</a>
        </p>
      </div>
    </main>
  {{/content}}
{{/extend}}