---
bodyClass: error
title: Ошибка сервера | Zoo-Chat
pageHeader: Ошибка сервера
linkText: На главную
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div>
        <p>
          <a href="./chats.hbs">{{linkText}}</a>
        </p>
      </div>
    </main>
  {{/content}}
{{/extend}}