---
title: Чаты | Zoo-Chat
pageHeader: Чаты
chats:
  - userName: Катя
    status: online
  - userName: Коля
    status: offline
  - userName: Оля
    status: offline
  - userName: Настя
    status: offline
  - userName: Павел Сергеевич
    status: offline
  - userName: Kroca
    status: offline
---

{{#extend "base"}}
  {{#content "main"}}
    <main>
      <h1>{{pageHeader}}</h1>

      <div class="content">
        <ul>
          {{#each chats}}
            {{#and userName status}}
              <li>
                <a href="./chat.hbs"><span>{{userName}}</span></a>
                <span>{{status}}</span>
              </li>
            {{/and}}
          {{/each}}
        </ul>
      </div>
    </main>
  {{/content}}
{{/extend}}